<div class="header-bar">
    <h1>header bar</h1>
</div>

{% schema %}{
    "name":"Header Bar",
    "max_blocks":12,
    "settings":[
        {
            "type": "checkbox",
            "id": "status",
            "label":"Turn On"
        }
    ],
    "default":{
        "blocks":[
            {
                "type":"headerbar"
            }
        ]
    }
}
{% endschema %}
