<div class="header-bar">
    <h1>
        Header bar
    </h1>
</div>

{% schema %}
    {
        "name": "Header bar",
        "default": {
            "blocks": [
            {
                "type": "headerbar"
            }
            ]
        }
    }
{% endschema %}
