{% if section.settings.topbar_status == true %}
    <div class="topbar">
        <h1>topbar</h1>
    </div>
{% endif %}

{% schema %}{
    "name":"Header Bar",
    "settings":[
        {
            "type": "checkbox",
            "id": "topbar_status",
            "label":"Turn On",
            "default": true
        }
    ]
}
{% endschema %}