<div class="header-bar">
    <h1>header bar</h1>
</div>

{% schema %}{
    "name":"Header Bar",
    "settings":[
        {
            "type": "checkbox",
            "id": "status",
            "label":"Turn On"
        }
    ]
}
{% endschema %}
