@font-face {
    font-family: 'nasa-font';
    src: url('nasa-font.woff2') format('woff2'),
        url('nasa-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

